
.card-turismo{
    max-width: 300px;
    max-height: 400px;
    min-height: 400px;
    border: solid;
      
}
.card-turismo:hover{
    transform: scale(1.05);
}
.img-atractivos{
    min-height: 250px;
    max-height: 250px;
    object-fit: contain !important;
    margin-top: 15px;
}

